.row-fluid {
    display: inline-block;
    border: 1px dashed black;
    margin: 10px;
    width: 300px;
}

.pull-right {
    margin-right: 20px;
}

.ng-invalid.ng-dirty{
	border-color:#FA787E;
}

.ng-valid.ng-dirty{
	border-color:#78FA89;
}
